[Desktop Entry]
Version=1.0
Type=Application
Exec=/usr/lib/firefox/firefox %u
Terminal=false

Categories=GNOME;GTK;Network;WebBrowser;
MimeType=application/json;application/pdf;application/rdf+xml;application/rss+xml;application/x-xpinstall;application/xhtml+xml;application/xml;audio/flac;audio/ogg;audio/webm;image/avif;image/gif;image/jpeg>
StartupNotify=true
Actions=new-window;new-private-window;open-profile-manager;
Name=Firefox
Icon=/usr/lib/firefox/browser/chrome/icons/default/default64.png
Comment=Browse the World Wide Web
GenericName=Web Browser
Keywords=Internet;WWW;Browser;Web;Explorer;

[Desktop Action new-window]
Exec= /usr/lib/firefox/firefox --new-window %u
Name=New Window

[Desktop Action new-private-window]
Exec= /usr/lib/firefox/firefox --private-window %u
Name=New Private Window

[Desktop Action open-profile-manager]
Exec= /usr/lib/firefox/firefox --ProfileManager
Name=Open Profile Manager
